.subscription {
    margin-top: 140px;
    margin-bottom: 140px;
}

.subscription .container {
    display: flex;
}

.subscription__images {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 70px;
}

.subscription__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscription__title {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    margin-bottom: 30px;
}

.subscription__text{
    margin-bottom: 40px;
}

.form__subscription {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mail-field {
    font-size: 16px;
}

.form__subscription p {
    font-size: 12px;
    line-height: 12px;
}

.btn-form-subscription {
    margin-top: 20px;
}

.subscription_modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.btn-subscription_modal {
    width: 150px;
}

@media (max-width: 1152px) {
    .subscription__images {
        margin-right: 20px;
    }
}

@media (max-width: 1024px) {
    .subscription__images {
        grid-template-columns: auto auto;
        margin-right: 48px;
    }

    .subscription__images img{
        width: 177px;
        height: 177px;
    }

    .subscription__images img:nth-child(1),
    .subscription__images img:nth-child(4) {
        display: none;
    }
}

@media (max-width: 768px) {
    .subscription {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .subscription__images img{
        width: 145px;
        height: 145px;
    }

    .subscription__images {
        grid-template-columns: auto auto;
        margin-right: 30px;
    }
}

@media (max-width: 640px) {
    .subscription {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .subscription .container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        grid-gap: 50px;
    }

    .subscription__images {
        justify-items: center;
        order: 1;
        grid-template-columns: 145px 145px;
    }

    .subscription__content {
        order: 0;
        align-items: center;
        justify-content: center;
    }

    .subscription__title {
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }

    .subscription__text {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 375px) {
    .subscription__images {
        grid-template-columns: 120px 120px;
    }

}
