dialog {
    width: 400px;
    margin: 80px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 100;
}

.container__form {
    position: relative;
}

.field{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
    margin-bottom: 10px;
}

.gender__item {
    display: flex;
    gap: 10px;
}

.form__button {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

}

.btn-form-close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    width: 18px;
    height: 18px;
    font-weight: 500;
    border: none;
    background: none;
    cursor: pointer;
}

