 @media (max-width: 1200px) {
    .catalog__list {
        grid-template-columns: auto auto auto;
    }
 }
 @media (max-width: 1152px) {

    .promo__content {
        margin: 60px 30px 0 30px;
    }

    .promo2__content {
        margin-left: 650px;
    }

    .subscription__images {
        margin-right: 20px;
    }

    .promo3__content{
        padding: 80px 0 80px 80px;
    }

    .contacts__content {
        padding: 80px 0 80px 80px;
    }

    .promo3__image img{
        width: 100%;
    }

    .contacts__map {
        max-width: 600px;
    }

    .map {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    /* .header__nav {
        display: none;
    } */

    .header .container {
        justify-content: space-between;
    }

    .header__nav {
        order: -1;
        margin-left: 0;
        width: 20px;
    }

    .nav__item:last-child {
        display: flex;
    }

    /* .header__nav .social{
        display: flex;
        margin-top: 20px;
    } */

    .nav__toggle{
        display: block;
    }


    .header__nav .nav__list {
        flex-direction: column;
        position: fixed;
        top:100px;
        left: -100%;
        width: 100%;
        padding: 50px;
        background: #F8F8F6;
        border-top: 1px solid #DBDCE0;
        box-shadow: 0px 4px 30px 0px #D6D6D630;
        transition: transform 0.3s linear;
    }

    .nav__list.active {
        transform: translateX(100%);
        z-index: 10;
    }

    .header__nav .nav__item a {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 500;
    }

    .header__nav .nav__item {
        width: auto;
    }

    .promo__img {
        max-width: 330px;
    }

    .promo__img img{
        width: 100%;
    }

    .promo__content {
        margin: 60px 10px 0 10px;
    }

    .promo__text {
        max-width: 274px;
    }

    .bestsellers__content {
        margin-right: 40px;
    }

    .promo2__content {
        margin-left: auto;
    }

    .promo3__content{
        padding: 40px 0 40px 40px;
    }

    .contacts__content {
        padding: 80px 0 80px 80px;
    }

    .subscription__images {
        grid-template-columns: auto auto;
        margin-right: 48px;
    }

    .subscription__images img{
        width: 177px;
        height: 177px;
    }

    .subscription__images img:nth-child(1),
    .subscription__images img:nth-child(4) {
        display: none;
    }

    .contacts__content{
        padding: 60px 0 60px 60px;
    }

    .contacts__map {
        left: 400px;
    }

    .footer__nav {
        margin-left: 30px;
    }

    .footer__nav .nav__list {
        display: flex;
    }
}

@media (max-width: 900px) {
    .contacts__content{
        padding: 40px 0 40px 40px;
    }

    /* .contacts__map {
        max-width: 450px;
    } */

    .promo3__image {
        left: 440px;
    }

    .catalog__list {
        grid-template-columns: auto auto;
    }

    .page-product .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        grid-gap: 0;
    }
/* 
    .page-product__image img{
        width: auto;
    } */

    .page-product__info {
        max-width: 100%;

    }
}

@media (max-width: 800px) {
    .bestsellers__title {
        font-size: 28px;
    }

    .bestsellers__text {
        font-size: 16px;
        line-height: 24px;
    }

    .promo3__content{
        padding: 40px 0 40px 40px;
    }

    .promo3__text {
        margin-top: 10px;
        max-width: 250px;
    }

    .about__title {
        font-size: 28px;
    }

    .contacts__content{
        padding: 20px 0 20px 20px;
        width: 100%;
    }

    .contacts .container {
        display: flex;
        flex-direction: column;
        position: static;
    }

    .contacts__map {
        max-width: 100%;
        position: static;
        top: 0;
        transform: translate(0, 0);
        right: 0;
        display: flex;
        justify-content: center;
        width: auto;
    }
}

@media (max-width: 768px) {
    .promo .container {
        position: relative;
    }

    .promo__title {
        font-size: 54px;
    }

    .promo__content {
        position: absolute;
    }

    .promo__img {
        max-width: 245px;
    }

    .promo__img:nth-child(1) {
        margin-right: 200px;
    }

    .bestsellers {
        margin-top: 120px;
    }

    .promo2 {
        margin-top: 120px;
    }

    .promo3 {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .promo3__image {
        background: url(/src/img/promo3_768.png) no-repeat;
    }

    .about {
        background-image: url(/src/img/about_bg_768.png);
    }

    .subscription {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .subscription__images img{
        width: 145px;
        height: 145px;
    }

    .subscription__images {
        grid-template-columns: auto auto;
        margin-right: 30px;
    }

    .contacts__title {
        font-size: 28px;
        line-height: 36px;
    }

    .item__title, .item__info {
        font-size: 16px;
        line-height: 24px;
    }
    .footer {
        margin-top: 120px;
    }

    .footer .nav__list {
        margin-right: 35px;
    }
}

@media (max-width: 700px) {
    .footer {
        margin-top: 80px;
    }

    .footer__top .container {
        flex-direction: column;
        align-items: start;
        padding: 50px 20px;
        margin-left: auto;
    }

    .footer__nav {
        margin: 40px 0;
    }

    .footer__nav .nav__list{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 25px 30px;
    }

    .footer__nav .nav__item{
        width: 100%;
    }

    .footer .social {
        margin: 0;
        text-align: center;
    }

    .footer__bottom .container {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media (max-width: 640px) {
    .btn {
        font-size: 14px;
    }

    .promo {
        padding-top: 60px;
    }

    .promo .container {
        display: grid;
        grid-template-areas:
        "content content"
        "img_left img_right";
        grid-gap: 35px 30px;
    }

    .promo__content {
        position: static;
        grid-area: content;
        order: -1;
    }

    .promo__img-left {
        grid-area: img_left;
    }

    .promo__img-right {
        grid-area: img_right;
    }

    .promo__img:nth-child(1) {
        margin-right: 0;
    }

    .promo__title {
        font-size: 42px;
        line-height: 50px;
    }

    .promo__text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 20px;
    }

    .promo__img span {
        font-size: 12px;
    }

    .promo2 {
        margin-top: 80px;
    }

    .promo2__title {
        font-size: 28px;
        line-height: 36px;
    }

    .promo2__text {
        font-size: 16px;
        line-height: 24px;
    }

    .bestsellers {
        margin-top: 80px;
    }

    .bestsellers__row{
        flex-direction: column;
        align-items: center;
    }

    .bestsellers__content {
        align-items: center;
        margin-right: 0;
    }

    .bestsellers__text {
        text-align: center;
        margin-bottom: 50px;
    }

    /* .bestproducts__item:not(:first-child) {
        display: none;
    } */

    .bestsellers__btn {
        display: none;
    }

    .bestsellers__btns{
        display: none;
    }

    .arrows__btns-none {
        display: flex;
        width: auto;
        margin-top: 40px;
    }

    .arrows__btns-bestsellers {
        display: none;
    }

    .bestsellers__btn-none {
        display: flex;
        margin-top: 40px;
    }

    .promo3 {
        margin-top: 80px;
    }

    .promo3 .container {
        justify-content: center;
        flex-direction: column;
        position: static;
        align-items: center;
    }

    .promo3__content{
        align-items: center;
        justify-content: center;
        padding: 60px 0 60px 0;
        width: 100%;
    }

    .promo3__title {
        font-size: 28px;
        line-height: 36px;
        text-align: center;
    }

    .promo3__text-none {
        display: none;
    }

    .promo3__text {
        margin-bottom: 30px;
    }

    .promo3__text {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
    }

    .btn-promo3 {
        margin-bottom: 45px;
    }

    .promo3__image {
        position: static;
        transform: none;
        width: 280px;
        height: 400px;
        margin-top: -50px;
    }

    .about {
        margin-top: 80px;
    }

    .about__title {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 30px;
    }

    .subscription {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    .subscription .container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-items: center;
        grid-gap: 50px;
    }

    .subscription__images {
        justify-items: center;
        order: 1;
        grid-template-columns: 145px 145px;
    }

    .subscription__content {
        order: 0;
        align-items: center;
        justify-content: center;
    }

    .subscription__title {
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }

    .subscription__text {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .contacts .container {
        flex-direction: column;
    }
    
    .contacts__content {
        width: 100%;
    }

    .contacts__map {
        position: static;
        transform: translate(0, 0);
        max-width: 600px;
        width: 100%;
    }

    
    .catalog__list {
        grid-template-columns: auto;
    }

    .catalog__btns {
        position: static;
    }

    .pagination {
        position: static;
        transform: none;
    }
}

@media (max-width: 500px) {
    .promo3__image {
        width: 250px;
        height: 250px;
        background: url(/src/img/promo3_320.png) no-repeat;
    }
}

@media (max-width: 375px) {
    .promo .container {
        grid-gap: 35px 10px;
    }
    
    .subscription__images {
        grid-template-columns: 120px 120px;
    }

}