.nav__toggle {
    border: none;
    background: none;
    display: none;
}


.toggle__icon{
    display: flex;
    cursor: pointer;
}

.header__nav {
    margin-left: auto;
}

.header__nav .social {
    margin-top: 20px;
}

.nav__list {
    display: flex;
    gap: 35px;
    margin-right: 50px;
}

.nav__item {
    width: 60px;
}

.nav__item:last-child {
    display: none;
}

.nav__item a {
    font-size: 16px;
    line-height: 24px;
    color: #122947;
    display: block;
}

.nav__item a:hover {
    font-weight: 600;
}

.nav__toggle.active {
    position: fixed;
    background:  #F8F8F6;
    height: 44px;
    width: 50px;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}