.nav__toggle {
    border: none;
    background: none;
    display: none;
}


.toggle__icon{
    display: flex;
    cursor: pointer;
}

.header__nav {
    margin-left: auto;
}

.header__nav .social {
    margin-top: 20px;
}

.nav__list {
    display: flex;
    gap: 35px;
    margin-right: 50px;
}

.nav__item {
    width: 60px;
}

.nav__item:last-child {
    display: none;
}

.nav__item a {
    font-size: 16px;
    line-height: 24px;
    color: #122947;
    display: block;
}

.nav__item a:hover {
    font-weight: 600;
}

.nav__toggle.active {
    position: fixed;
    background:  #F8F8F6;
    height: 44px;
    width: 50px;
    z-index: 10000;
    display: none;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .header__nav {
        order: -1;
        margin-left: 0;
        width: 20px;
    }

    .nav__item:last-child {
        display: flex;
    }


    .nav__toggle{
        display: block;
    }
    .nav__toggle.active {
        display: flex;
    }


    .header__nav .nav__list {
        flex-direction: column;
        position: fixed;
        top:100px;
        left: -100%;
        width: 100%;
        padding: 50px;
        background: #F8F8F6;
        border-top: 1px solid #DBDCE0;
        box-shadow: 0px 4px 30px 0px #D6D6D630;
        transition: transform 0.3s linear;
    }

    .nav__list.active {
        transform: translateX(100%);
        z-index: 10;
    }

    .header__nav .nav__item a {
        font-family: 'Raleway', sans-serif;
        font-size: 28px;
        line-height: 36px;
        font-weight: 500;
    }

    .header__nav .nav__item {
        width: auto;
    }
}
