.footer {
    margin-top: 140px;
    background: rgba(244, 241, 237, 1);
}

.footer__top {
    border-bottom: 1px solid #D1D1D1;
}

.footer__top .container {
    display: flex;
    align-items: center;
    padding: 60px 20px;
}

.footer__nav {
    margin-left: 70px;
}

.footer__nav .nav__list .nav__item:last-child {
    display: block;
}

.footer .social {
    margin-left: auto;
}

.footer__bottom .container {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.footer__bottom span {
    font-size: 12px;
    line-height: 18px;
    color: #959595;
}

@media (max-width: 1024px) {
    .footer__nav {
        margin-left: 30px;
    }

    .footer__nav .nav__list {
        display: flex;
    }
}

@media (max-width: 768px) {
    .footer {
        margin-top: 120px;
    }

    .footer .nav__list {
        margin-right: 35px;
    }
}

@media (max-width: 700px) {
    .footer {
        margin-top: 80px;
    }

    .footer__top .container {
        flex-direction: column;
        align-items: start;
        padding: 50px 20px;
        margin-left: auto;
    }

    .footer__nav {
        margin: 40px 0;
    }

    .footer__nav .nav__list{
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 25px 30px;
    }

    .footer__nav .nav__item{
        width: 100%;
    }

    .footer .social {
        margin: 0;
        text-align: center;
    }

    .footer__bottom .container {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}
